{% set width_class = "expand" if not slides else "" %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set price_info = product_info.get('price') or {} %}

<div id="product-meta"
	data-item-code="{{ doc.item_code }}"
	data-currency="{{ price_info.get('currency') or 'USD' }}"
	data-price-list="{{ cart_settings.price_list }}">
</div>

<div class="col-md-7 product-details {{ width_class }}">
	<div class="d-flex">
		<!-- title -->
		<div class="product-title col-11" itemprop="name">
			{{ _(doc.web_item_name) }}
		</div>

		{% if shopping_cart.cart_settings.enabled and shopping_cart.cart_settings.enable_wishlist %}
		<div class="like-action-item-fp {% if wished %}like-action-wished{% endif %} ml-2" style="cursor:pointer;"
			title="{{ _('Remove from Wishlist') if wished else _('Add to Wishlist') }}"
			data-item-code="{{ doc.item_code }}"
			data-wished="{{ '1' if wished else '0' }}">
			<svg class="icon icon-md">
				<use class="wish-icon {% if wished %}wished{% else %}not-wished{% endif %}" href="#icon-heart"></use>
			</svg>
		</div>
		{% endif %}
	</div>

	<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
	</div>

	<div itemprop="review" itemscope itemtype="https://schema.org/Review">
	</div>

	{% if has_variants %}
		<!-- configure template -->
		{% include "templates/generators/item/item_configure.html" %}
	{% else %}
		<!-- inline non-variant selector (mirrors the variant flow UI) -->
		{% include "templates/generators/item/item_non_variant.html" %}
		<!-- add to cart (wishlist / view-in-cart / contact-us only) -->
		{% include "templates/generators/item/item_add_to_cart.html" %}
	{% endif %}

</div>

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{% endblock %}

<script>
	$('.page_content').on('click', '.like-action-item-fp', (e) => {
		const $btn = $(e.currentTarget);
		const item_code = $btn.data('item-code');

		if (frappe.session.user === 'Guest') {
			if (localStorage) {
				localStorage.setItem('last_visited', window.location.pathname);
			}
			frappe.call('upande_webshop.upande_webshop.api.get_guest_redirect_on_action').then((res) => {
				window.location.href = res.message || '/login';
			});
			return;
		}

		const wished = String($btn.attr('data-wished')) === '1';
		const action = wished ? 'remove' : 'add';
		const method = action === 'add'
			? 'upande_webshop.upande_webshop.doctype.wishlist.wishlist.add_to_wishlist'
			: 'upande_webshop.upande_webshop.doctype.wishlist.wishlist.remove_from_wishlist';

		// Optimistic UI swap.
		const $use = $btn.find('.wish-icon');
		if (action === 'add') {
			$btn.addClass('like-action-wished');
			$btn.attr('data-wished', '1').attr('title', __('Remove from Wishlist'));
			$use.removeClass('not-wished').addClass('wished');
		} else {
			$btn.removeClass('like-action-wished');
			$btn.attr('data-wished', '0').attr('title', __('Add to Wishlist'));
			$use.removeClass('wished').addClass('not-wished');
		}

		frappe.call({
			type: 'POST',
			method: method,
			args: { item_code: item_code },
			callback: function(r) {
				if (r.exc) {
					// Roll back optimistic UI on failure.
					if (action === 'add') {
						$btn.removeClass('like-action-wished').attr('data-wished', '0').attr('title', __('Add to Wishlist'));
						$use.removeClass('wished').addClass('not-wished');
					} else {
						$btn.addClass('like-action-wished').attr('data-wished', '1').attr('title', __('Remove from Wishlist'));
						$use.removeClass('not-wished').addClass('wished');
					}
					frappe.show_alert({ message: __('Sorry, something went wrong. Please refresh.'), indicator: 'red' }, 4);
					return;
				}
				frappe.show_alert({
					message: action === 'add' ? __('Added to Wishlist') : __('Removed from Wishlist'),
					indicator: action === 'add' ? 'green' : 'orange'
				}, 3);
				if (typeof upande_webshop !== 'undefined' && upande_webshop.upande_webshop && upande_webshop.upande_webshop.wishlist) {
					upande_webshop.upande_webshop.wishlist.set_wishlist_count(true);
				}
			}
		});
	});
</script>