<!-- Total at the end of the cart items -->
{%- set totals = namespace(bunches=0, stems=0) -%}
{%- for d in doc.items -%}
	{%- set totals.bunches = totals.bunches + d.qty -%}
	{%- set totals.stems = totals.stems + (d.qty * d.conversion_factor) -%}
{%- endfor -%}
<tr>
	<th class="text-muted" style="font-weight:normal; font-size:0.9em;">
		{{ _("Total Bunches") }}: {{ totals.bunches | int }} &nbsp;|&nbsp; {{ _("Total Stems") }}: {{ totals.stems | int }}
	</th>
	<th class="text-left item-grand-total" colspan="1">
		{{ _("Net Total") }}
	</th>
	<th class="text-left item-grand-total totals" colspan="3">
		{{ doc.get_formatted("total") }}
	</th>
</tr>
